<!--The content below is only a placeholder and can be replaced.-->
<div  style="text-align:center">
  <h2>Welcome to {{ title }} by {{obj.name | uppercase}} !!</h2>
  <img  [@myAnimation] = "state" width="100" alt="Angular Logo" [src]="angularLogo">
</div>

<button (click)="animate()" class="btn btn-primary">Animate tittle</button>
<app-my-component> </app-my-component>
<a routerLink="/member"> Member </a> <br/>
<a routerLink="/product"> Product </a> <br/>
<a routerLink="/registration"> Registration</a> <br/>

<router-outlet></router-outlet>
<p *ngIf="isTemplateShown; then HelpLink  else NoHelp"> No Help link!! </p>
<ng-template #NoHelp>
  <p>No help links are available!!!</p>
</ng-template>
<ng-template #HelpLink>
  <h3>Here are some links to help you start: </h3>
  <ul>
    <li *ngFor="let item of links">
      <a href="{{item.url}}">{{item.name}}</a>
    </li>
  </ul>
</ng-template>
