<form class="container" [formGroup]="frmUser" (ngSubmit)="onSubmit(frmUser.value)">
  <input class="frmInput" type="text" name="firstname" placeholder="firstname" formControlName="firstname">
  <br />
  <input class="frmInput" type="text" name="lastname" placeholder="lastname" formControlName="lastname">
  <br />
  <select class="frmSelect" name="languages" formControlName="languages">
      <option value="c++">C++</option>
      <option value="java">Java</option>
      <option value="angular">Angular</option>
  </select>
  <br />
  <div class="row">
    <button (click)="onSave($event)" class="btn btn-warning col-sm-6">Save</button>
    <input class=" btn btn-success col-sm-6" [disabled]="!frmUser.valid" type="submit" value="Submit">
    <input [(ngModel)=]"email" (keyup.enter)="onKeyUp()" />
  </div>
  </form>
